<!DOCTYPE html>
<html lang="en">

<head>
    <title>HSD - Dashboard</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
</head>


<body>
    <div id="wrapper">

        <header>
            <img src="images/HSDLogo.png" alt="HyperSupportDesk Logo" align="left">
        </header>

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/quickFixes">QuickFixes</a></li>
            </ul>
        </nav>

        <main id="hero">
            <h2>HyperSupportDesk - Dashboard</h2><br>

            <p>You can now create a ticket.</p>

            <!-- Add Ticket UI Here -->
            <form action="/dashboard" method="POST">
                <style type="text/css">
                    table, th, td {
                     border: 1px solid;
                    }
                    
                    tr.hide_all > td, td.hide_all{
                       border: 0;
                      
                    }
              </style>
                <div>
                    <label for="title">Title</label>
                    <input type="text" id="title" name="title" required>
                </div>
                <div>
                    <label for="description">Description</label>
                    <input type="text" id="description" name="description" required>
                </div>
                <div>
                    <label for="priority">Priority</label>
                    <select name="priority" id="priority">
                        <option value="Low">Low</option>
                        <option value="Medium">Medium</option>
                        <option value="High">High</option>
                    </select>
                </div>
                <div>
                    <label for="status">Status (don't change)</label>
                    <select name="status" id="status">
                        <option value="Waiting">Waiting</option>
                        <option value="Completed">Completed</option>
                    </select>
                </div>
                <button id="submit" type="submit">Create Ticket</button>
            </form>
            <button id="save">Save Changes</button>



        <p id="output"></p><br><br><br>
        <div id="center">
        <p>View Tickets</p>
        <table style="width:auto" id="ticket">
            <tr>
                <td>ID</td>
                <td>TITLE</td>
                <td>DESCRIPTION</td>
                <td>AUTHOR</td>
                <td>PRIORITY</td>
                <td>STATUS</td>
            </tr>
        <% 
        function unescapeCharacters(string) {
            return string.replace(/&quot;/g, '"')
            .replace(/&#x27;/g, "'")
            .replace(/&lt;/g, '<')
            .replace(/&gt;/g, '>')
            .replace(/&#x2F;/g, '/')
            .replace(/&#x5C;/g, '\\')
            .replace(/&#96;/g, '`')
            .replace(/&amp;/g, '&');
        }
    
        tickets.forEach(function(t) { %>
            <tr>
                <td><%= t.id %></td>
                <td><%= t.title %></td>
                <td><%= t.description %></td>
                <td><%= unescapeCharacters(t.author) %></td>
                <td><%= t.priority %></td>
                <td><%= t.status %></td>
                <td><button id="<%= t.id %>" onclick="javascript:editTicket(<%= t.id %>);">Edit ticket</button></td>
            </tr>

        <% }); %>
        </table>
    </div>


        </main>

        <script>
    const output = document.getElementById("output");
    const title = document.getElementById('title');
    const description = document.getElementById('description');
    const priority = document.getElementById('priority');
    const status = document.getElementById('status');

    const submit = document.getElementById("submit");
    const save = document.getElementById("save");

    const center = document.getElementById("center");

    // Don't display the save button
    save.style.display = "none";
    
    const send = async function(buttonId) {
        const response = await fetch("/dashboard", {
            method: "POST",
            headers: {
                "Accept": "application/json",
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                id: buttonId
            })
        
        });
        const result = await response.json();
        if (result.error) {
            output.innerHTML = `<strong>Error: ${result.error.routine}</strong>`;
        } else {
            output.innerHTML = "Current Tickets.";
        }
    };

    const editTicket = async function(id) {
        const response = await fetch("/dashboard", {
            method: "POST",
            headers: {
                "Accept": "application/json",
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                ticketId: id
            })
        
        });
        const result = await response.json();
        if (result.error) {
            output.innerHTML = `<strong>Error: ${result.error.routine}</strong>`;
        } else if (result.editTicket) {

            output.innerHTML = "Editing Ticket";

            save.style.display = "initial";
            submit.style.display = "none";

            center.style.display = "none";

            title.setAttribute('value', `${result.editTicket.title}`);
            description.setAttribute('value', `${result.editTicket.description}`);
            priority.setAttribute('value', `${result.editTicket.priority}`);
            status.setAttribute('value', `${result.editTicket.status}`);

            save.onclick = function() {
                saveTicket(`${result.editTicket.id}`);
            }
        }
    }

    const saveTicket = async function(id) {
        const response = await fetch("/dashboard", {
            method: "POST",
            headers: {
                "Accept": "application/json",
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                saveTicket: {
                    id: id,
                    title: title.value,
                    description: description.value,
                    priority: priority.value,
                    status: status.value
                }
            })
        });

        const result = await response.json();
        if (result.error) {
            output.innerHTML = `<strong>Error: ${result.error.routine}</strong>`;
        } else {
            await location.reload();
        }
    }
    </script>

    </div>

</body>

</html>