<!DOCTYPE html>
<html lang="en">

<head>
    <title>HSD - Dashboard</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
</head>

<%
function unescapeCharacters(string) {
    return string.replace(/&quot;/g, '"')
    .replace(/&#x27;/g, "'")
    .replace(/&lt;/g, '<')
    .replace(/&gt;/g, '>')
    .replace(/&#x2F;/g, '/')
    .replace(/&#x5C;/g, '\\')
    .replace(/&#96;/g, '`')
    .replace(/&amp;/g, '&');
} %>


<body>
    <div id="wrapper">
        
        <header>
            <img src="images/HSDLogo.png" alt="HyperSupportDesk Logo">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/admin">Admin</a></li>
                    <li><a href="/quickFixes">QuickFixes</a></li>
                </ul>
            </nav>
        </header>
        <main id="hero">
            <h2>HyperSupportDesk - Dashboard</h2>
            <div id="input">

                <!-- Add Ticket UI Here -->
                <form action="/dashboard" method="POST">
                    <div>
                        <label for="title">Title</label>
                        <input type="text" id="title" name="title" required>
                    </div>
                    <div>
                        <label for="description">Description</label>
                        <input type="text" id="description" name="description" required>
                    </div>
                    <div>
                        <label for="priority">Priority</label>
                        <select name="priority" id="priority">
                            <option value="Low">Low</option>
                            <option value="Medium">Medium</option>
                            <option value="High">High</option>
                        </select>
                    </div>
                    <button id="submit" type="submit">Create Ticket</button>
                </form>
                <button id="save">Save Changes</button>
            </div>

            <p id="output"></p>
            <div id="display-ticket">
                <button id="back">&leftarrow; Back to Dashboard</button>
                <p>Title: <span id="display-title"></span></p>
                <p>Author: <span id="display-author"></span></p>
                <p>Description: <span id="display-description"></span></p>
                <p>Priority: <span id="display-priority"></span></p>
                <p>Status: <span id="display-status"></span></p>
                <button id="mark-complete">Mark Complete</button>
            </div>
            <div id="center">
                <p>View Tickets</p>

                <style type="text/css">
                    table, th, td {
                        border: 1px solid;
                    }
                    
                    tr.hide_all > td, td.hide_all{
                        border: 0;
                    }
                </style>
                <table style="width:auto" id="table">
                    <tr>
                        <td>ID</td>
                        <td>TITLE</td>
                        <td>DESCRIPTION</td>
                        <td>AUTHOR</td>
                        <td>PRIORITY</td>
                        <td>STATUS</td>
                    </tr>
                <%_ tickets.forEach(function(t) { %>
                    <tr>
                        <td><%= t.id %></td>
                        <td><%= unescapeCharacters(t.title) %></td>
                        <td><%= unescapeCharacters(t.description) %></td>
                        <td><%= unescapeCharacters(t.author) %></td>
                        <td><%= unescapeCharacters(t.priority) %></td>
                        <td><%= unescapeCharacters(t.status) %></td>
                        <%_ if (usertype == 0) { _%>
                        <td><button id="<%= t.id %>" onclick="javascript:editTicket(<%= t.id %>);">Edit ticket</button></td>
                        <%_ } else { _%>
                        <td><button id="<%= t.id %>" onclick="javascript:viewTicket(<%= t.id %>);">View ticket</button></td>
                        <%_ } _%>
                    </tr>
                <%_ }); _%>
                </table>
            </div>
        </main>
    </div>
<script>

    const input = document.getElementById("input");
    const output = document.getElementById("output");
    const title = document.getElementById('title');
    const description = document.getElementById('description');
    const priority = document.getElementById('priority');
    const status = document.getElementById('status');

    const submit = document.getElementById("submit");
    const save = document.getElementById("save");
    const displayTicket = document.getElementById("display-ticket");

    const center = document.getElementById("center");

    <%# // Don't display unused elements %>
    save.style.display = "none";
    displayTicket.style.display = "none";

    <%_ if (usertype == 0) { _%>
        
        <%# // Hide these if the user is a supporter or admin.
            // We don't want them to edit the contents of tickets. _%>

        output.innerHTML = "<p>You can now create a ticket.</p>";

        <%# // Create ticket %>
        const send = async function(buttonId) {
            const response = await fetch("/dashboard", {
                method: "POST",
                headers: {
                    "Accept": "application/json",
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    id: buttonId
                })
            });
            const result = await response.json();

            if (result.error) {
                output.innerHTML = `<strong>Error: ${result.error.routine}</strong>`;
            } else {
                location.reload();
            }
        };
        
        <%# // Editing ticket %>
        const editTicket = async function(id) {
            const response = await fetch("/dashboard", {
                method: "POST",
                headers: {
                    "Accept": "application/json",
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    viewTicket: {
                        id: id
                    }
                })
            });
            const result = await response.json();

            if (result.error) {
                output.innerHTML = `<strong>Error: ${result.error.routine}</strong>`;
            } else if (result.ticket) {

                output.innerHTML = "Editing Ticket";

                <%# // Hide table and replace create button with save %>
                save.style.display = "initial";
                submit.style.display = "none";
                center.style.display = "none";

                <%# // Set values of input elements %>
                const ticket = result.ticket;
                title.setAttribute('value', `${ticket.title}`);
                description.setAttribute('value', `${ticket.description}`);
                priority.setAttribute('value', `${ticket.priority}`);

                save.onclick = function() {
                    saveTicket(ticket.id);
                }
            }
        }

        <%# // Saving ticket to db %>
        const saveTicket = async function(id) {
            const response = await fetch("/dashboard", {
                method: "POST",
                headers: {
                    "Accept": "application/json",
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    saveTicket: {
                        id: id,
                        title: title.value,
                        description: description.value,
                        priority: priority.value
                    }
                })
            });
            const result = await response.json();

            if (result.error) {
                output.innerHTML = `<strong>Error: ${result.error.routine}</strong>`;
            } else if (result.saveEmpty) {
                output.innerHTML = "Please enter a value in all fields.";
            } else {
                location.reload();
            }
        }
    <%_ } else { _%>

        <%# // Hide unneeded attributes %>
        input.style.display = "none";
        
        <%# // Visible to supporters and admins %>
        const viewTicket = async function(id) {
            const response = await fetch("/dashboard", {
                method: "POST",
                headers: {
                    "Accept": "application/json",
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    viewTicket: {
                        id: id
                    }
                })
            });
            const result = await response.json();

            if (result.error) {
                output.innerHTML = `<strong>Error: ${result.error.routine}</strong>`;
            } else if (result.ticket) {

                const ticket = result.ticket;
                output.innerHTML = "Viewing Ticket";

                <%# // Hide tickets table and show display %>
                center.style.display = "none";
                displayTicket.style.display = "initial";

                
                <%# // Display ticket %>
                output.innerHTML = `Displaying Ticket #${ticket.id}`;
                document.getElementById("display-title").innerHTML = `${ticket.title}`;
                document.getElementById("display-author").innerHTML = `${ticket.author}`;
                document.getElementById("display-description").innerHTML = `${ticket.description}`;
                document.getElementById("display-priority").innerHTML = `${ticket.priority}`;
                document.getElementById("display-status").innerHTML = `${ticket.status}`;

                
                document.getElementById("back").onclick = function() {
                    back();
                }

                document.getElementById("mark-complete").onclick = function() {
                    markComplete(ticket.id);
                }
            }
        }

        const back = async function() {
            const response = await fetch("/dashboard", {
                method: "POST",
                headers: {
                    "Accept": "application/json",
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    back: "back"
                })
            });
            const result = await response.json();

            if (result.error) {
                output.innerHTML = `<strong>Error: ${result.error.routine}</strong>`;
            } else {
                location.reload();
            }
        }

        const markComplete = async function(id) {
            const response = await fetch("/dashboard", {
                method: "POST",
                headers: {
                    "Accept": "application/json",
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    markComplete: {
                        id: id
                    }
                })
            });
            const result = await response.json();

            if (result.error) {
                output.innerHTML = `<strong>Error: ${result.error.routine}</strong>`;
            } else if (result.tickets) {
                location.reload();
            }
        }

    <%_ } _%>
</script>

</body>

</html>