<!DOCTYPE html>
<html lang="en">

<head>
    <title>HSD - Welcome</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
</head>


<body>
    <div id="wrapper">

        <header>
            <img src="images/HSDLogo.png" alt="HyperSupportDesk Logo" align="left">
        </header>

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/quickFixes">QuickFixes</a></li>
            </ul>
        </nav>

        <main id="hero">
            <h2>HyperSupportDesk - Welcome</h2>
            <p>You successfully logged in!</p>
        </main>


        <p id="output"></p>
        <p>ID / TITLE / DESCRIPTION / AUTHOR / PRIORITY / STATUS</p>
        <% tickets.forEach(function(t) { %>
        <p><%= t.id %> / <%= t.title %> / <%= t.description %> / <%= t.author %> / <%= t.priority %> / <%= t.status %></p>
        <% }); %>
        <script>
        const output = document.getElementById("output");

    const onRegister = async function() {
    const titleText = document.getElementById('title').value;
    const descriptionText = document.getElementById('description').value;
    const authorText = document.getElementById('author').value;
    const priorityText = document.getElementById('priority').value;
    const statusText = document.getElementById('status').value;
    const response = await fetch("/log", {
        method: "POST",
        headers: {
            "Accept": "application/json",
            "Content-Type": "application/json"
        },
        body: JSON.stringify({
            title: titleText,
            description: descriptionText,
            author: authorText,
            priority: priorityText,
            status: statusText


        })
    });
    const result = await response.json();
    if (result.error) {
        output.innerHTML = `<strong>Error: ${result.error.routine}</strong>`;
    } else {
        output.innerHTML = "Current Tickets.";
    }
    };
        </script>

    </div>

</body>

</html>